.list-nav { font-size: 1em; }
.list-nav a {display: block; text-decoration: none; }
.list-nav span { font: bold 1em Verdana, Geneva, Arial, Helvetica, sans-serif;  color: #c3cdd4; cursor: default; padding: 10px 10px 7px 8px; display: block; height: 16px; }
.list-nav a span { cursor: pointer; }
.list-nav a[href="#"],
.list-nav a[href="#"] span { cursor: default; }
.list-nav span:hover { text-decoration: none; color: #fff; }
.list-nav li { float: left; position: relative; color: #c3cdd4; z-index: 10; }
.list-nav li:hover { z-index: 20; }
.list-nav li:hover > ul { display: block; z-index: 20; }

.list-nav ul { border: 1px solid #5d7993; background: #fff; top: 33px; left: 1px; position: absolute; z-index: 10; display: none; }

/*root  level*/
.list-nav li a {  }
.list-nav li span { background: url(../images/nav.gif) no-repeat 100% -33px; }
.list-nav li.level0.parent > a span { padding-right: 19px; background-position: 100% 5px; }
.list-nav li.level0.parent:hover > a span { background-position: 100% -71px; }

/*second level*/
.list-nav ul li { width: 15em; background: #f0f3f5 url(../images/menudiv.gif) repeat-x 0 0; padding-top: 1px; text-align: left; }
.list-nav ul li:first-child { background-image: none; padding-top: 0; }
.list-nav ul li a { text-transform: capitalize; text-decoration: none; font-weight: normal; }
.list-nav ul li span { padding: 7px 5px; color: #083346; background-color: #f0f3f5; background-position: -1000px -1000px; height: auto; }
.list-nav ul li:hover > a span,
.list-nav ul li span:hover { color: #083346; background-color: #fff; }
.list-nav ul li.parent > a span { background-position: 100% -110px; }
.list-nav ul li.parent > a:hover {  }

/* third level */
.list-nav ul ul { top: 4px; left: 90px; }