app/etc/config.php
library/Zend
js/ext-3.3.1
js/ckeditor
media/cache/*
media/category/*
media/import/*
media/manufacturer/*
media/product/*
var/cache/*
var/export/*
var/index/*
var/logs/*
var/minify/*
var/sessions/*
var/templates/*
.project
.settings
nbproject/
.buildpath
